* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: #fff;
    font-size: 20px;
    font-weight: 400;
    color: white;
    text-rendering: optimizeLegibility;
    font-family: 'Lato';
}

.row {
    max-width: 1140px;
    margin: 0 auto;
    color: black;
}

section {
    margin: 80px 0;
}

:before {
    box-sizing: border-box;
}

/*----------------------*/

/* TITRE*/

/*----------------------*/

h1,
h2,
h3,
h4 {
    font-weight: 300;
    text-transform: uppercase;
    
}

h1,
.h1 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
    color: white;
}

h2,
.h2 {
    margin: 0 auto;
    margin-bottom: 30px;
    font-size: 180%;
    word-spacing: 2px;
    letter-spacing: 1px;
    text-align: center;
}

h2:after { /* Permet d'insérer un élément avant ou après*/
    display: block;
    width: 100px;
    height:2px;
    background-color: #e67e22;
    content: "";
    margin: 0 auto;
    margin-top: 30px;
}

/*----------------------*/

/* TITRE fin*/

/*----------------------*/

/*----------------------*/

/* HEADER*/

/*----------------------*/

.formation-text-box {
    position: absolute;
    color: white;
    width: 1140px;
    top: 50%;
    left: 25%;
    /*transform: translate(-50%,-50%);*/
}

header {
    /* background-color: aqua;*/
    background-image: /* linear-gradient(rgba(255, 165, 33, 0.7), rgba(49, 255, 81, 0.7)),*/
    url(/Resources/img/cygne.jpg);
    background-size: cover;
    height: 100vh;
    background-position: center;
    margin-bottom: 50px;
}


/****BUTTON****/

.btn:link,
.btn:visited {
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 10px 30px;
    margin: 10px 10px;
    font-weight: 300;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited {
    border: 2px solid grey;
    background-color: #fff;
    margin-left: 20%;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 2px solid grey;
    color: white;
}

.btn:hover,
.btn:active {
    /*  background-color: #eee;*/
}

.btn-full:hover,
.btn-full:active {
    background-color: #eee;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 2px solid #eee;
    background-color: #eee;
    color: black;
}

/****BUTTON fin****/

/****NAV****/

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
    margin-left: 20%;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    border-bottom: 2px solid grey;
    transition: border-buttom 0.2s;
    /*font-size: 90%;*/
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid red;
}

/****NAV fin****/

/*----------------------*/

/* HEADER FIN*/

/*----------------------*/

.icon-big {
    font-size: 350%;
    color: dimgrey;
}

.icon-vert {
    display: inline-block;
    width: 30px;
    text-align: center;
    color: green;
    margin-right: 10px;
}

.icon-rouge {
    display: inline-block;
    width: 30px;
    text-align: center;
    color: red;
    margin-right: 10px;
}


/*--Galerie photos------*/

.clearfix {zoom:1}

.clearfix:after {
    /* content: "."; */
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

.galerie-photos {
    padding: 0;
}
.range-photos{
    list-style: none;   /* supprime affichage liste*/
    width: 100%;
}

.range-photos li {
    display: block;  /*transforme les éléments en blocks*/
    float: left;     /* tous les éléments se collent sur la gauche*/
    width: 25%;      /* chaque block aura une largeur de 25%*/
}
.photos {
    width: 100%;    /*le navigateur calcule la largeur*/
    margin: 0;
    overflow: hidden; /*(2)comportement à appliquer à un élément lorsque le contenu dépasse la taille voir PDF*/
    background-color: black;  /* (6)  */ 
}

.photos img {
    width: 100%;    /* doit être à 100% afficher entièrement l'image*/
    height: auto;   /*le navigateur calcule la hauteur*/
    transform: scale(1.5); /* (1) zoom sur un élément voir PDF*/
    transition: transform 2s, opacity 2s;  /* (4) effet de transition */
    opacity: 0.4;  /* (5) effet oppacité */
}

.photos img:hover {
    transform: scale(1);  /* (3) repasse à l'échelle 1 */
    opacity: 1;
}

/*--Galerie photos fin---*/

/*--------------------------------*/
/* TABLEAU PRIX */
/*--------------------------------*/


#price {
    background: #fff;
}
.plan-box {
    background: #fff;
    border: 1px solid #000;
    border-radius: 10px;
    box-shadow: 0px 2px 5px gainsboro;
}

.plan-box div {
    padding: 15px;
    border-bottom: 1px solid #000;   
}

.plan-box div:first-child {
    background-color: gainsboro;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
}
.plan-box div:last-child {
    text-align: center;
}


.plan-box ul {
    list-style: none;


}

.plan-box ul li {
}

/*--nos centres---*/


.coordonnees {
    list-style: none;   /* supprime affichage liste*/
    width: 100%;
}

.coordonnees li display: block;  /*transforme les éléments en blocks*/
    float: left;     /* tous les éléments se collent sur la gauche*/
    width: 25%;      /* chaque block aura une largeur de 25%*/
}

.photo-centre img {
    width: 100%;    /* doit être à 100% afficher entièrement l'image*/
    height: auto; 
}

#nos-centres-de-formation {
    padding: 0;
}

.ion-ios-location {
    color: orange;
}

.ion-ios-telephone {
    color: orange;
}

.ion-email {
    color:orange;
}

.ion-email a {
    text-decoration-color: orange;
}

.col-md-3 img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

h4 {
        font-size: 20px;
        font-weight: 400;
}

.coordonnees li a {
    color: orange;
}
/*--nos centres fin---*/

/*--nos references---*/
blockquote {
    padding: :2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 40px;
    quotes: "\201C""\201D""\2018""\2019";
    
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 40px;
    -webkit-margin-end: 40px;
}

blockquote:before {
    content:"\201C";
    font-size: 300%;
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
}

blockquote:after{
    content: "\201D";
    font-size: 300%;
    display: block;
    position: bottom;
    top: -5px;
    left: -5px;
    padding-left: 80%;
}

cite img {
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}

cite {
    margin-top: 25px;
    display: block;
}
/*--nos references fin---*/

/*--footer---*/


footer {
    background-color: grey;
}
.col-md-6 {
    position: relative;
    width: 100%;
    margin-top: 55px
}
.col-md-6 li {
    list-style: none;
    color: white;
}

.reseaux-sociaux-nav {
    color: white;
    float: right;
    list-style: none;
   
}
.reseaux-sociaux-nav li {
    display: inline-block;
    margin-left: 40px;
}

.footer-nav {
    float:left;
    color: white;
}
.footer-nav li {
    display: inline-block;
    list-style: none;
}
.footer-nav a {
    color: white;
    font-size: 14px;
    margin-right: 5px;
}
footer p{
    color: white;
    margin-left: 50%;
    font-size: 12px;
}


